{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
    <h3> JOIN or CREATE a chatroom</h3>
    <form method="post">
        <input id = "username" name = "username" placeholder="Username">
        <div>
            <input id = "roomcode" name = "roomcode" placeholder="Room Code">
            <button type="submit" name="join">Join Room</button>
        </div>
        <br>
        <button type="submit" name="create">Create Room</button>
    </form>
    {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
    {% endif %}
{% endblock %}